.App {
  text-align: center;
}
.dropdown-item:active {
  background: none;
}
/* 
#app-body {
  margin-left: 180px
}

@media only screen and (max-width: 992px) {
  .SideNav {
    display: none;
  } 
  #app-body {
    margin-left: inherit
  }
} */