/* Collections, credits, genres, outisde links */

#data-container {
  min-height: 400px;
}

.align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Details {
  min-height: calc(100vh - 70px);
}

#details-body {
  border-radius: 10px;
}
#details-header {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.bg-light-grey {
  /* background-color: rgb(170, 170, 170); */
  /* background-color: #f2ebe8; */
  background-color: #a2ccbb;
}

#cast-container {
  border-radius: 10px;
  min-height: 295px;
}
.no-link, .no-link:hover, .no-link:active, .no-link:focus {
  text-decoration: none;
  color: inherit;
}
.border-round {
  border-radius: 10px;
}
.text-sm {
  font-size: 0.85rem;
}
.text-xs {
  font-size: 0.75rem;
}
.cast-img {
  min-height: 200px;
}
#backdrop-row {
  position: relative;
  z-index: -10;
}

.side-col-lg {
  padding: 0 0 1rem 1rem;
}

#section-recs {
  margin-right: .25rem;
}

#section-similar {
  margin-left: .25rem;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: #352352;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 1.5em;
  font-weight: bold;
  fill: #352352;
}

@media only screen and (max-width:991px) {
  .side-col-lg {
    padding: 0;
  }
}

@media only screen and (max-width:767px) {
  #backdrop-row {
    margin-bottom: -25%;
  }
  #section-recs, #section-similar {
    margin: 0 -10px;
  }
  .Details {
    margin: 0 10px;
  }
  #data-container {
    min-height: 750px;
  }
  #cast-container {
    min-height: 500px;
  }
}