/* Collections, credits, genres, outisde links */

#details-body {
  border-radius: 10px;
}
#details-header {
  background-color: black;
  color: white;
  border-radius: 10px;
}
.bg-light-grey {
  background-color: rgb(170, 170, 170);
}
#cast-container {
  border-radius: 10px;
  min-height: 295px;
}
.no-link, .no-link:hover, .no-link:active, .no-link:focus {
  text-decoration: none;
  color: inherit;
}
.border-round {
  border-radius: 10px;
}
.text-sm {
  font-size: 0.85rem;
}
.text-xs {
  font-size: 0.75rem;
}
.cast-img {
  min-height: 200px;
}
#backdrop-row {
  position: relative;
  z-index: -10;
}

@media only screen and (max-width:767px) {
  #backdrop-row {
    margin-bottom: -25%;
  }
}